* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  min-height: calc(100vh - 180px);
  position: relative;
  top: $header-height;
}
