$color-btn: #d79106;
$color-btn-grey: #727272;
$color-header: rgba(33, 33, 32, 0.899);
$color-header-scrolled: rgba(102, 80, 28, 0.327);
$color-bg-dark-grey: #3d3d3d;
$color-bg-light-grey: #494949;

$color-font: white;
$color-font-green: #096;
$color-font-yellow: rgb(224, 179, 90);
$color-font-grey: #ddd;
$color-font-grey-opacity: rgba(221, 221, 221, 0.8431372549);

$content-width: 1280px;
$content-small-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 550px;
$mobile-small-width: 340px;
