$color-btn: #d79106;
$color-header: rgba(33, 33, 32, 0.899);
$color-header-scrolled: rgba(102, 80, 28, 0.327);
$color-font: white;

$content-width: 1280px;
$content-small-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 550px;
$mobile-small-width: 340px;
$header-height: 80px;
