$color-btn: white;
$color-header: rgb(237, 236, 241);
$color-header-scrolled: rgba(191, 47, 239, 0.163);

$content-width: 1280px;
$content-small-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 550px;
$mobile-small-width: 340px;