.container {
  display: flex;
  width: 33%;
}

.form {
  display: flex;
  flex-grow: 1;
  position: relative;
  background-color: #3d3d3d;
  overflow: auto;
  height: calc(100vh - 80px);
}

.editors {
  flex-grow: 1;
  overflow: auto;
}

.get_button {
  background-color: rgb(222, 191, 128);
  cursor: pointer;
  padding: 2px;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin: 15px;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    order: 2;
  }

  .form {
    height: calc(100vh - 65px);
  }
}