.args {
  display: flex;
  align-items: center;
}

.arg {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.bracket_left {
  padding-right: 5px;
}

.symbols {
  color: #ddd;
  font-size: 20px;
}
