// .args_wrapper {
//     padding-left: 5px;
// }

.args {
    display: flex;
    align-items: center;
    // background-color: #ffd;
}

.arg {
    margin-right: 5px;
}

.bracket_left {
    padding-right: 5px;
}
