.panel {
    // background-color: #494949;
    background-color: #3d3d3d;
    border-left: 1px solid #727272;
}

.button {
  background-color: rgb(222, 191, 128);
  cursor: pointer;
  padding: 2px;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  margin: 15px;
  flex-shrink: 0;
}
