@import '../../assets/styles/constants';

.panel {
    background-color: #3d3d3d;
    border-left: 1px solid #727272;
}

.button {
  padding: 2px;
  height: 35px;
  width: 35px;
  margin: 15px;
  flex-shrink: 0;
}

.active {
  background-image: none !important;
  background-color: $color-btn !important;
}

.disable {
  background-color: #727272;
}

@media (max-width: 600px) {
  .panel {
    order: 0;
    border-bottom: 1px solid #727272;
  }
}