@import '../../assets/styles/constants';

.footer {
  height: 100px;
  background-color: $color-header;
  color: white;
}

.footer_wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  padding-left: 0;
  font-size: 1.4rem;
}

.link {
  cursor: pointer;
  color: white;
}

.rs_logo {
  background-image: url(../../assets/icons/rs-logo.svg);
  width: 135px;
  height: 50px;
  cursor: pointer;
  @media (max-width: $mobile-big-width) {
    width: 95px;
    height: 40px;
    background-repeat: no-repeat;
  }
}