@import '../../assets/styles/constants';

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/images/layout.jpg);
  height: 500px;
  background-size: 100% 500px;
  top: -80px;
  position: relative;
}

.greeting {
  margin-bottom: 10px;
  font-size: 3rem;
  color: $color-font;
  margin-bottom: 20px;
}

.getStartedBtn {
  width: 150px;
  height: 50px;
}

.aboutUs {
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  top: -80px;
  position: relative;
}

.description {
  margin-top: 20px;
  max-width: 600px;
}